body {
  background-color: #ffff6c;
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  background-color: red;
  width: 20%;
  height: 2rem;
}

.footer {
  position: absolute;
  bottom: 0;
}

.logo-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.button-flex{
  display: flex;
  justify-content: center;
  width: 100%;
}

.register-button {
  width: 8rem;
  height: 4rem;
  font-size: 1rem;
}

.logull {
  width: 10rem;
  height: 10rem;
}

.form {
  border: solid 2em snow;
  display: flex;
  margin: 5rem;
}

.stretch-gull {
  border-radius: 50%;
}