<section class='home'>
    <div class='logo-flex'>
        <h1>Spotted Gull</h1>
        <img class='logull' src='https://i.imgur.com/I5WmrSR.png'>
    </div>
    <div class='button-flex'>
        <button class='register-button' href='#register'>Register</button>
    </div>
</section>

{{>gulls data=gullsData}}
