<section class='home'>
    <div class='logo-flex'>
        <div class = 'headerContainer'>
        <h1>Spotted Gull</h1>
        <a class='register-button' href='/register'>Register</a>
        </div>
        <img class='logull' src='https://i.imgur.com/I5WmrSR.png'>
    </div>
</section>

{{>gulls}}