Gull Profile Circles

{{gullsData}}


<section class='gullsGrid'>
{{#each gullsData}}
<section class='singleGull'>
    <a href='/gull/{{this.id}}'>
<img src='{{this.image_url}}'>
</a>
<h2>{{this.name}}</h2>
</section>
{{/each}}
</section>
