<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spotted Gull</title>
    <link rel='stylesheet' href='../main.css'>
  </head>
  <body>
    {{>header}}
    <main class='main'>
      {{{body}}}
    </main>
    {{>footer}}
  </body>
</html>
