<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spotted Gull</title>
    <link rel='stylesheet' href='../main.css'>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Carter+One" rel="stylesheet">
  </head>
  <body>
   <div class="page-container"> 
     {{>header}}
    <main class='main'>
      {{{body}}}
    </main>
    {{>footer}}
  </div>
  </body>
</html>
